@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";

body {
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes pulse {
  0%, 100% { 
    opacity: 0.3; 
  }
  50% { 
    opacity: 1; 
  }
}