.container {
    display: flex;
    flex-direction: column;
    width: 21.375rem;
    height: 11.5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: rgba(100, 165, 189, 0.8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}
.time {
    color: #FFF;
    font-family: Tiny5;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container button {
    width: 5.5rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #478094;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}